.section_description{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--section-overlay);
    padding: 1rem;
    border-radius: 0.5rem;
}

.small{
    margin-left: 5px;
    font-size: 1rem;
}

.description_card-icon>small{
    text-transform: capitalize;
}

@media screen and (max-width:1024px) {
    .section_description{
        grid-template-columns: 1fr 1fr;
    }
}